<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Web bán sách giá rẻ</title>

    <link rel="icon" th:href="@{/images/favicon.png}"/>
    <!-- CSS tuyệt đối -->
    <link rel="stylesheet" th:href="@{/fonts/flaticon/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/icofont/icofont.min.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/fontawesome/fontawesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/venobox/venobox.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/slickslider/slick.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/niceselect/nice-select.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/payment_cancel.css}"/>
</head>
<body>

<header th:replace="~{/web/fragments/header :: header}"></header>

<section class="news-part"
         th:style="'background: url(' + @{/images/newsletter.jpg} + ') no-repeat center'">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>Thông Báo Hủy Thanh Toán</h2>
                    <p>Bạn đã hủy thanh toán qua PayPal.</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <div class="payment-cancel-button">
                    <a th:href="@{/'/}" class="btn btn-primary">Quay lại trang chủ</a>
                    <!-- hoặc về giỏ hàng -->
                    <!-- <a th:href="@{/cart}" class="btn btn-outline-primary">Về giỏ hàng</a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{/web/fragments/footer :: footer}"></footer>

<!-- JS tuyệt đối -->
<script th:src="@{/vendor/bootstrap/jquery-1.12.4.min.js}"></script>
<script th:src="@{/vendor/bootstrap/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/vendor/countdown/countdown.min.js}"></script>
<script th:src="@{/vendor/niceselect/nice-select.min.js}"></script>
<script th:src="@{/vendor/slickslider/slick.min.js}"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}"></script>
<script th:src="@{/js/nice-select.js}"></script>
<script th:src="@{/js/countdown.js}"></script>
<script th:src="@{/js/accordion.js}"></script>
<script th:src="@{/js/venobox.js}"></script>
<script th:src="@{/js/slick.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
